<header class="text-gray-600 body-font shadow fixed top-0 left-0 right-0 z-30 bg-white dark:bg-black">
  <div class="max-w-7xl mx-auto flex items-center justify-between  h-[80px] p-5">
    <a class="flex title-font font-medium items-center text-sky-600 ">
      <span class="ml-3 text-2xl">YTS</span>
    </a>



    <div class="flex justify-center items-center gap-3">


      <div class="menubtn cursor-pointer h-8 w-8   overflow-hidden flex items-center justify-center fa-solid fa-bars dark:text-white">
        
      </div>

        <div class="darkmode h-8 w-8   overflow-hidden flex items-center justify-center fa-solid fa-sun dark:text-white">
     
        </div>

    </div>

    

  </div>
  </div>
</header>



<!-- admin menu -->
<div class=" adminmenu hidden fixed right-1 md:right-10   mt-50   w-screen max-w-max  px-4 z-50 ">
  <div
    class="max-w-[300px] flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
    <div class="p-4">
   
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div
          class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
          <svg class="h-6 w-6 text-gray-600 group-hover:text-cyan-600" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
          </svg>
        </div>
        <div>
          <a href="/admin/project" class="font-semibold text-gray-900">
            project
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">upload project data for showcase</p>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div
          class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
          <svg class="h-6 w-6 text-gray-600 group-hover:text-cyan-600" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
          </svg>
        </div>
        <div>
          <a href="admin/skill" class="font-semibold text-gray-900">
            skills
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">add latest skills</p>
        </div>
      </div>
      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
        <div
          class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
          <svg class="h-6 w-6 text-gray-600 group-hover:text-cyan-600" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
          </svg>
        </div>
        <div>
          <a href="/admin/client" class="font-semibold text-gray-900">
            our clients
            <span class="absolute inset-0"></span>
          </a>
          <p class="mt-1 text-gray-600">our clientss data</p>
        </div>
      </div>

    </div>
    <div class="grid grid-cols-2 divide-x divide-gray-900/5 bg-gray-50">

    </div>
  </div>
</div>