<!-- component -->
<div
  class=" min-h-screen flex  justify-center  py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
  style="background-image: url(https://images.unsplash.com/photo-1621243804936-775306a8f2e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
  <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10">
    <div class="text-center">
      <h2 class="mt-5 text-3xl font-bold text-gray-900">
        reset password form
      </h2>
    </div>
    <form class="mt-8 space-y-3"  method="POST" action="/reset-password/<%- token %>">

      <div class="grid grid-cols-1 space-y-2">
        <label class="text-sm font-bold text-gray-500 tracking-wide">new password</label>
        <input class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
          name="password" type="password" >
      </div>

     
      <div>
        <button type="submit"
          class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
                                    font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
          update password
        </button>
      </div>
    </form>
  </div>
</div>