<section class=" body-font">
    <div class="max-w-7xl px-5 py-24 mx-auto flex flex-wrap">

        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 text-cyan-600 tracking-widest">process</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">in the proces we follow the development in following five steps..</p>
          </div>


      <div class="flex flex-wrap w-full items-center justify-between">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-cyan-600 inline-flex items-center justify-center text-white relative z-10">
              <i class="fa-solid fa-1"></i>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-cyan-600 mb-1 tracking-wider">STEP 1</h2>
              <p class="leading-relaxed">in first step we discuss with you about your requirement.</p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-cyan-600 inline-flex items-center justify-center text-white relative z-10">
              <i class="fa-solid fa-2"></i>
              
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-cyan-600 mb-1 tracking-wider">STEP 2</h2>
              <p class="leading-relaxed">in second step we planne and create ui and in this step you have to pay (50%) amount advance for our security.</p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-cyan-600 inline-flex items-center justify-center text-white relative z-10">
              <i class="fa-solid fa-3"></i>
              
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-cyan-600 mb-1 tracking-wider">STEP 3</h2>
              <p class="leading-relaxed">
                development and testing 
              </p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-cyan-600 inline-flex items-center justify-center text-white relative z-10">
              <i class="fa-solid fa-4"></i>
              
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-cyan-600 mb-1 tracking-wider">STEP 4</h2>
              <p class="leading-relaxed">update according to client.</p>
            </div>
          </div>
          <div class="flex relative">
            <div class="flex-shrink-0 w-10 h-10 rounded-full bg-cyan-600 inline-flex items-center justify-center text-white relative z-10">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-cyan-600 mb-1 tracking-wider">FINISH</h2>
              <p class="leading-relaxed">this is last deployment step in this you have to give 50% rest of the ammount.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-3/5 md:w-1/2 h-[400px] object-cover object-center rounded-lg md:mt-0 mt-12 ">
            <img class="h-full object-cover w-full" src="/images/ui/banner.jpg" alt="step">
        </div>
      </div>
    </div>
  </section>