<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yuva</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .has-mask {
            position: absolute;
            clip: rect(10px, 150px, 130px, 10px);
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <%- include('./partials/register.ejs') %>
            <%- include('./partials/footer.ejs') %>
</body>

</html>